<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Games</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <h1>Games</h1>
    <ul>
    <% games.forEach(game => {%>
        <li>
            <%= game.name %>
            <%= game.genre %>
            <%= game.publishedYear %>
            <%= game.status %>
            <a href="/game/<%= game._id %>">View more details.</a>
            <form action="/games/<%= game._id %>?_method=DELETE" method="POST">
                <button type="submit">Delete Game</button>
        </li>
       
   <% }); %>
    </ul>

  </body>
</html>